body {
  font-family: 'Poppins';
  color: #fff;
}

.container {
  max-width: 1168px;
  margin: 0 auto;
}

.header {
  background: #000;
}

.header__inner {
  min-height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__link {
  margin-right: 32px;
}

.nav__link:last-child {
  margin: 0;
  background: #fff;
  padding: 10px 20px;
  border-radius: 14px;
}

.nav__link:last-child a {
  line-height: 20px;
  letter-spacing: 0.4px;
  color: #000000;
}

.nav__link:first-child a {
  font-size: 13px;
  margin-right: 55px;
}

.nav__link a {
  font-size: 15px;
  color: #fff;
  -webkit-transition: .3s;
  transition: .3s;
}

.nav__link a:hover {
  color: #a0a0a0;
}
