@import url("https://fonts.googleapis.com/css2?family=Anton&family=Poppins&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  font-family: 'Poppins';
  color: #fff;
}

.container {
  max-width: 1138px;
  padding: 0 15px;
  margin: 0 auto;
}

.header {
  position: relative;
}

.header:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  z-index: 3;
}

.header__inner {
  position: relative;
  min-height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  position: relative;
  z-index: 3;
}

.nav__list {
  position: relative;
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__link {
  margin-right: 32px;
}

.nav__link:last-child {
  margin: 0;
  background: #fff;
  padding: 10px 20px;
  border-radius: 14px;
}

.nav__link:last-child a {
  line-height: 20px;
  letter-spacing: 0.4px;
  color: #000000;
}

.nav__link:first-child a {
  font-size: 13px;
  margin-right: 55px;
}

.nav__link a {
  font-size: 15px;
  color: #fff;
  -webkit-transition: .3s;
  transition: .3s;
}

.nav__link a:hover {
  color: #a0a0a0;
}

@media (max-width: 992px) {
  .nav__link {
    margin-right: 20px;
  }
  .nav__link:last-child {
    margin: 0;
  }
  .nav__link:last-child a {
    line-height: 20px;
  }
  .nav__link:first-child a {
    font-size: 12px;
    margin-right: 28px;
  }
  .nav__link a {
    font-size: 13px;
  }
}

@media (max-width: 767px) {
  body.lock {
    overflow: hidden;
  }
  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 3;
  }
  .header__burger span {
    position: absolute;
    background-color: #fff;
    width: 100%;
    height: 2px;
    left: 0;
    top: 9px;
    -webkit-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
  }
  .header__burger:before, .header__burger:after {
    content: '';
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    -webkit-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
  }
  .header__burger:before {
    top: 0;
  }
  .header__burger:after {
    bottom: 0;
  }
  .header__burger.active span {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  .header__burger.active:before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 9px;
  }
  .header__burger.active:after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 9px;
  }
  .header__nav {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: #c0c0c0;
    padding-top: 60px;
    padding: 60px 0 20px 10px;
    -webkit-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
  }
  .header__nav.active {
    top: 0;
  }
  .header__inner {
    min-height: 50px;
  }
  .nav__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .nav__link {
    margin: 0 0 20px 0;
  }
  .nav__link:last-child {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 14px;
  }
  .nav__link:last-child a {
    line-height: 20px;
    letter-spacing: 0.4px;
  }
  .nav__link:first-child {
    margin: 0 0 25px 0;
  }
  .nav__link:first-child a {
    font-size: 17px;
    margin: 0;
  }
  .nav__link a {
    font-size: 19px;
  }
}

body {
  background: #000;
  overflow-x: hidden;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

.intro {
  background: url("../img/bg.jpg") center 0 no-repeat;
}

.intro__inner {
  padding-top: 465px;
}

.intro__main {
  text-align: center;
  max-width: 580px;
  margin: 0 auto;
  margin-bottom: 15px;
}

.intro__subtitle {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #C0C0C0;
}

.intro__title {
  font-size: 54px;
  line-height: 59px;
  margin-bottom: 18px;
}

.intro__text {
  font-size: 14px;
  line-height: 20px;
  color: #C0C0C0;
}

@media (max-width: 767px) {
  .intro__inner {
    padding-top: 70px;
  }
  .intro__subtitle {
    color: #000;
  }
}

.preferences_1 {
  padding-bottom: 40px;
}

.preferences {
  font-size: 12px;
  line-height: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.preferences__item {
  margin-right: 16px;
  line-height: 16px;
}

.preferences__item:last-child {
  margin: 0;
}

.preferences__shutter {
  background: url("../img/intro/shutter.svg") left 0 no-repeat;
  padding-left: 23px;
}

.preferences__aperture {
  background: url("../img/intro/aperture.svg") left 0 no-repeat;
  padding-left: 23px;
}

.preferences__iso {
  background: url("../img/intro/iso.svg") left 0 no-repeat;
  padding-left: 40px;
}

.preferences__location {
  background: url("../img/intro/location.svg") left 0 no-repeat;
  padding-left: 20px;
}

.what {
  padding: 110px 0 84px 0;
  background: #000;
}

.what__inner {
  max-width: 1168px;
  margin: 0 auto;
}

.what__title {
  font-size: 40px;
  line-height: 42px;
  text-align: center;
  margin-bottom: 10px;
}

.what__subtitle {
  font-size: 23px;
  line-height: 30px;
  text-align: center;
  color: #C0C0C0;
}

.what__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 40px -8px 0 -8px;
}

.item {
  padding: 0 8px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  height: 600px;
  width: 576px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  margin-bottom: 16px;
}

.item__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  padding: 70px 30px;
}

.item__title {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.item__subtitle {
  font-size: 14px;
  line-height: 20px;
  color: #C0C0C0;
  margin-bottom: 15px;
}

.button {
  color: #000;
  background: #fff;
  padding: 10px;
  border-radius: 14px;
}

.button a {
  display: block;
  color: #000;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0.4px;
  padding-left: 42px;
  position: relative;
  -webkit-transition: .3s;
  transition: .3s;
}

.button a:hover {
  color: #a0a0a0;
}

.button a::before {
  content: '';
  position: absolute;
  top: -6px;
  left: 0;
  display: inline-block;
  width: 32px;
  height: 32px;
  border-radius: 40%;
  background: #000;
}

.item_1 {
  background: url("../img/what/what-1.jpg") 8px 0 no-repeat;
}

.item_2 {
  background: url("../img/what/what-2.jpg") 8px 0 no-repeat;
}

.item_3 {
  background: url("../img/what/what-3.jpg") 8px 0 no-repeat;
}

.item_4 {
  background: url("../img/what/what-4.jpg") 8px 0 no-repeat;
}

@media (max-width: 767px) {
  .item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
  .item_1, .item_2, .item_3, .item_4 {
    background-position: center;
  }
}

.photo__item {
  min-height: 600px;
}

.photo__item_1 {
  background: url("../img/photo/photo1.jpg") center 0 no-repeat;
}

.photo__item_2 {
  background: url("../img/photo/photo2.jpg") center 0 no-repeat;
}

.photo__test {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 600px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.photo__text {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 2px;
  max-width: 350px;
  margin-right: 60px;
}

.photo__title {
  text-transform: uppercase;
}

.photo__description {
  color: #C0C0C0;
}

.preferences_2 {
  margin: -55px 45px 0 0;
}

.tools {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 540px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.tools .tst {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.tools__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.tools__subtitile {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #C0C0C0;
  margin-bottom: 6px;
}

.tools__titile {
  font-size: 28px;
  line-height: 32px;
  margin-bottom: 15px;
}

.tools__description {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 20px;
}

.tools__button {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
}

.tools__preferences {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
  background: url("../img/photo/tools.jpg") center 0 no-repeat;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  padding: 0 40px 40px 0;
}

@media (max-width: 767px) {
  .tools__text {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}

.clients {
  padding-top: 113px;
}

.clients__inner {
  max-width: 1168px;
  margin: 0 auto;
}

.clients__title {
  font-size: 40px;
  line-height: 42px;
  text-align: center;
}

.clients__subtitile {
  font-size: 24px;
  line-height: 30px;
  color: #C0C0C0;
  text-align: center;
}

.clients__list {
  padding-bottom: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 80px -10px 0 -10px;
}

.clients__item {
  padding: 0 10px;
}

.photo__item_3 {
  background: url("../img/stars/stars.jpg") center 0 no-repeat;
}

.help {
  padding: 120px 0;
}

.help__inner {
  text-align: center;
  max-width: 580px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.help__title {
  font-size: 40px;
  line-height: 42px;
  margin-bottom: 15px;
}

.help__subtitle {
  font-size: 24px;
  line-height: 30px;
  color: #C0C0C0;
  margin-bottom: 20px;
}

.help__button {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.footer__capturing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 36px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer__text-capturing {
  font-size: 13px;
  line-height: 20px;
  color: #C0C0C0;
}

.footer__line {
  border: 2px solid #fff;
}

.panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.panel__item {
  width: 200px;
  margin-right: 15px;
}

.panel__item:last-child {
  margin: 0;
}

.panel__title {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #C0C0C0;
  margin-bottom: 10px;
}

.panel__link {
  margin-bottom: 10px;
}

.panel__link:last-child {
  margin: 0;
}

.panel__link a {
  font-size: 14px;
  line-height: 20px;
  color: #fff;
  -webkit-transition: .3s;
  transition: .3s;
}

.panel__link a:hover {
  color: #a0a0a0;
}

.subscribe {
  margin: 36px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.subscribe__title {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.subscribe__subtitle {
  font-size: 13px;
  line-height: 20px;
  color: #C0C0C0;
}

.bottom {
  margin-top: 56px;
  padding-bottom: 106px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.bottom__text {
  font-size: 14px;
  line-height: 20px;
  color: #C0C0C0;
}

.bottom__icon {
  margin-right: 20px;
}

.bottom__icon:last-child {
  margin: 0;
}
