@import "nullstyle.scss";
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Poppins&display=swap');
@import "header.scss";


body {
   background: #000;
}

.intro {
   background: url('../img/bg.jpg');

   // .intro__inner
   &__inner {
      padding-top: 465px;

   }

   // .intro__main
   &__main {
      text-align: center;
      max-width: 580px;
      margin: 0 auto;
      margin-bottom: 15px;

   }

   // .intro__subtitle
   &__subtitle {
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 2px;
      text-transform: uppercase;
      color: #C0C0C0;
   }

   // .intro__title
   &__title {
      font-size: 54px;
      line-height: 59px;
      margin-bottom: 18px;
   }

   // .intro__text
   &__text {
      font-size: 14px;
      line-height: 20px;
      color: #C0C0C0;
   }
}

.preferences_1 {
   padding-bottom: 40px;
}

.preferences {
   font-size: 12px;
   line-height: 12px;
   display: flex;
   justify-content: end;

   // .preferences__item
   &__item {
      margin-right: 16px;

      &:last-child {
         margin: 0;
      }

      line-height: 16px;
   }

   // .preferences__shutter
   &__shutter {
      background: url('../img/intro/shutter.svg') left 0 no-repeat;
      padding-left: 23px;

   }

   // .preferences__aperture
   &__aperture {
      background: url('../img/intro/aperture.svg') left 0 no-repeat;
      padding-left: 23px;
   }

   // .preferences__iso
   &__iso {
      background: url('../img/intro/iso.svg') left 0 no-repeat;
      padding-left: 40px;
   }

   // .preferences__location
   &__location {
      background: url('../img/intro/location.svg') left 0 no-repeat;
      padding-left: 20px;
   }
}


// WHAT

.what {
   padding: 110px 0 84px 0;
   background: #000;

   &__inner {
      max-width: 1168px;
      margin: 0 auto;
   }

   // .what__title
   &__title {
      font-size: 40px;
      line-height: 42px;
      text-align: center;
      margin-bottom: 10px;
   }

   // .what__subtitle
   &__subtitle {
      font-size: 23px;
      line-height: 30px;
      /* identical to box height, or 130% */
      text-align: center;

      color: #C0C0C0;
   }

   // .what__row
   &__row {

      display: flex;
      flex-wrap: wrap;
      margin: 40px -8px 0 -8px;
   }

   // .what__item
   &__item {}
}

.item {
   padding: 0 8px;
   flex: 0 1 50%;
   height: 600px;
   width: 576px;
   display: flex;
   flex-direction: column;
   justify-content: end;
   margin-bottom: 16px;

   &__inner {
      display: flex;
      flex-direction: column;
      align-items: start;
      padding: 70px 30px;
   }

   // .item__title
   &__title {
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 2px;
      text-transform: uppercase;
      margin-bottom: 10px;
   }

   // .item__subtitle
   &__subtitle {
      font-size: 14px;
      line-height: 20px;
      color: #C0C0C0;
      margin-bottom: 15px;
   }

   // .item__btn
   &__btn {}
}

.button {
   // display: inline-block;
   color: #000;
   background: #fff;
   padding: 10px;
   border-radius: 14px;
   // height: 100px;
   // align-items: center;

   & a {
      display: block;
      // height: 42px;
      color: #000;
      font-size: 15px;
      line-height: 20px;
      letter-spacing: 0.4px;
      // background: url('/img/what/figures.svg') 0 0/32px 32px no-repeat;
      padding-left: 42px;
      position: relative;
      transition: .3s;

      &:hover {
         color: rgb(160, 160, 160);
      }

      &::before {
         content: '';
         position: absolute;
         top: -6px;
         left: 0;
         display: inline-block;
         width: 32px;
         height: 32px;
         border-radius: 40%;
         background: #000;
      }

   }
}

.item_1 {
   background: url('../img/what/what-1.jpg') 8px 0 no-repeat;
}

.item_2 {
   background: url('../img/what/what-2.jpg') 8px 0 no-repeat;
}

.item_3 {
   background: url('../img/what/what-3.jpg') 8px 0 no-repeat;
}

.item_4 {
   background: url('../img/what/what-4.jpg') 8px 0 no-repeat;
}


// photo

.photo {

   // .photo__item
   &__item {
      min-height: 600px;
      // display: flex;
      // flex-direction: column;
      // justify-content: center;
      // align-items: end;

   }

   &__item_1 {
      background: url('../img/photo/photo1.jpg') center 0 no-repeat;
   }

   &__item_2 {
      background: url('../img/photo/photo2.jpg') center 0 no-repeat;
   }

   &__test {
      display: flex;
      height: 600px;
      align-items: center;
      justify-content: end;

   }

   // .photo__text
   &__text {
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 2px;
      max-width: 350px;
      margin-right: 60px;
   }

   // .photo__title
   &__title {
      text-transform: uppercase;
   }

   // .photo__description
   &__description {
      color: #C0C0C0;
   }

   // .photo__preferences
   &__preferences {}
}

.preferences_2 {
   margin: -55px 45px 0 0;
}


.photo {

   // .photo__tools
   &__tools {}
}

.tools {
   display: flex;
   min-height: 540px;

   // .tools__text
   &__text {
      flex: 0 1 50%;
      padding: 0 100px;
      display: flex;
      flex-direction: column;
      justify-content: center;

   }

   // .tools__subtitile
   &__subtitile {
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 2px;
      text-transform: uppercase;
      color: #C0C0C0;
      margin-bottom: 6px;
   }

   // .tools__titile
   &__titile {
      font-size: 28px;
      line-height: 32px;
      margin-bottom: 15px;
   }

   // .tools__description
   &__description {
      font-size: 14px;
      line-height: 20px;
      margin-bottom: 20px;
   }

   // .tools__button
   &__button {
      align-self: start;
   }

   // .tools__preferences
   &__preferences {
      flex: 0 1 50%;
      background: url('../img/photo/tools.jpg') center 0 no-repeat;
      align-items: end;
      padding: 0 40px 40px 0;
   }
}

// clients

.clients {
   padding-top: 113px;

   // .clients__title
   &__inner {
      max-width: 1168px;
      margin: 0 auto;
   }

   &__title {
      font-size: 40px;
      line-height: 42px;
      text-align: center;
   }

   // .clients__subtitile
   &__subtitile {
      font-size: 24px;
      line-height: 30px;
      color: #C0C0C0;
      text-align: center;
   }

   // .clients__list
   &__list {
      padding-bottom: 100px;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      margin: 80px -10px 0 -10px;
   }

   // .clients__item
   &__item {
      padding: 0 10px;
   }
}



.photo__item_3 {
   background: url('../img/stars/stars.jpg');
}



.help {
   padding: 120px 0;

   // .help__inner
   &__inner {
      text-align: center;
      max-width: 580px;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
   }

   // .help__title
   &__title {
      font-size: 40px;
      line-height: 42px;
      margin-bottom: 15px;

   }

   // .help__subtitle
   &__subtitle {
      font-size: 24px;
      line-height: 30px;
      color: #C0C0C0;
      margin-bottom: 20px;
   }

   // .help__button
   &__button {
      align-self: center;
   }
}


// footer
.footer {

   // .footer__capturing
   &__capturing {
      display: flex;
      justify-content: space-between;
      margin-bottom: 36px;
   }

   // .footer__info
   &__info {}

   // .footer__logo
   &__logo {}

   // .footer__text-capturing
   &__text-capturing {
      font-size: 13px;
      line-height: 20px;
      color: #C0C0C0;
   }

   // .footer__panel
   &__panel {}

   // .footer__line
   &__line {
      border: 2px solid #fff;
   }

   // .footer__subscribe
   &__subscribe {}

   // .footer__bottom
   &__bottom {}
}

.container {}

.panel {
   display: flex;

   // .panel__item
   &__item {
      width: 200px;
      margin-right: 15px;

      &:last-child {
         margin: 0;
      }
   }

   // .panel__title
   &__title {
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 2px;
      text-transform: uppercase;
      color: #C0C0C0;
      margin-bottom: 10px;
   }

   // .panel__list
   &__list {}

   // .panel__link
   &__link {
      margin-bottom: 10px;

      &:last-child {
         margin: 0;
      }

      & a {
         font-size: 14px;
         line-height: 20px;
         color: #fff;
         transition: .3s;

         &:hover {
            color: rgb(160, 160, 160);
         }
      }
   }
}

.subscribe {
   margin: 36px 0;
   display: flex;
   justify-content: space-between;

   // .subscribe__text
   &__text {}

   // .subscribe__title
   &__title {
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 2px;
      text-transform: uppercase;
      margin-bottom: 20px;
   }

   // .subscribe__subtitle
   &__subtitle {
      font-size: 13px;
      line-height: 20px;
      color: #C0C0C0;
   }

   // .subscribe__input
   &__input {}
}

.bottom {
   margin-top: 56px;
   padding-bottom: 106px;
   display: flex;
   justify-content: space-between;

   // .bottom__text
   &__text {
      font-size: 14px;
      line-height: 20px;
      color: #C0C0C0;
   }

   // .bottom__icons
   &__icons {}

   &__icon {
      margin-right: 20px;

      &:last-child {
         margin: 0;
      }
   }

   // .bottom__tw
   &__tw {}

   // .bottom__inst
   &__inst {}

   // .bottom__fb
   &__fb {}
}